[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.install]
cmds = [
  "npm install --production=false"
]

[phases.build]
cmds = [
  "export NODE_OPTIONS='--max-old-space-size=4096'",
  "npm run build"
]

[start]
cmd = "npx docusaurus serve --host 0.0.0.0 --port $PORT --no-open --build"
